
* {
    box-sizing: border-box;
}

body {
    /* background: #f0ebdf; */
    background:#EBEBD3;
   
    color: #343434;
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Quicksand', sans-serif;
}

.form, .box {
    max-width: 20em;
    min-width: 150px;
  
}

.form, .box {
    margin: 2em auto;
}

input {
    border: none;
  
    padding: 0.45em 0.2em;
    margin: .4em auto;
    transition: border-bottom 0.15s linear 0.25s;
}

input:hover, input:focus {
    border-bottom: 1px solid #343434;
    outline: none;
}

label {
    font-size: 1.2em;
    margin-left: 2em;
}

.form a {
    display: block;
    text-align: center;
}

button {
    background-color: #27253d;
    border: none;
    color: #EBEBD3;
    cursor: pointer;

    margin: 2em 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    transition: border 0.1s linear 0.2s;
}

button:hover, button:focus {
    border: 3px solid white;
    outline: none;
    color: white;
}
table {
    margin: auto;
    
}

.results {
    display: inline-block;
    margin: auto;
}
.green {
    border: 2px solid green;
}

.red {
    border: 2px solid #00fff0;
}
.grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    padding: .5em;
    font-family: 'Rubik', sans-serif;
}

.grid-item {
    padding: .2em;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}


.grid-item li {
    display: block;
    text-decoration: none;

}

h1 {
    text-transform: capitalize;
}

img {
    width: 15%;
}

.info-window {
    position: fixed;
    z-index: 1;
    left: 1em;
    top: 1em;
    width: 60%;
    height: 70%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    background-color: #eae3e3;
    color: black;
    transform: scale(1.1);
    transition: visibility 0.15s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-info-window {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0.15s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close {
    color: darkslategray;
    float: right;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loader {
    margin: .5em auto;
    border: .42em solid lightgray;
    border-top: .42em solid #f9f920;
    border-radius: 50%;
    width: 2.1em;
    height: 2.1em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-family: 'Quicksand', sans-serif;

    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}