header {
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.nav-container {
    margin: 0 auto;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    margin: .6em;
    color: white;
    font-size: 1.5em;
    font-family: 'Krona One', sans-serif;
}
.site-nav, .short-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 500ms;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Cabin',
    sans-serif;
 
}

.open .site-nav,
.open .short-nav {
    clip-path: circle(250% at top right);
}

.site-nav ul,
.short-nav ul,
.side-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav button,
.short-nav button {
    width: 11em;
    background-color: #262525;
    color: #f9f9f9;
    display: block;
    padding: 1.3em;
    text-decoration: none;

}

.site-nav li:last-child,
.short-nav li:last-child {
    border-bottom: none;
}

.site-nav button:hover,
.site-nav button:focus,
.short-nav button:hover,
.short-nav button:focus {
    background-color: #f9f9f9;
    color: #262525;
}


.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.side-menu, .short-nav {
    display: none;
}

.not-in-landscape {
    display: block;
}

@media (orientation: landscape) {
    .site-nav, .not-in-landscape {
        display: none
    }

    .side-menu,
    .short-nav {
        display: inline;
    }

    .sections-container  {
        max-width: 100%;
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 1fr 4fr;
    }

    .intro {
        grid-column: 2/3;
    }

    .js-form {
        grid-column: 2/3;
    }

    footer {
        grid-column: 2/3;
    }

    .only-portrait {
        display: none;
    }

    .side-menu {
        font-family: 'Cabin',
        sans-serif;
        grid-column: 1/2;
        grid-row: 1/4;
        margin-top: 3.7em;
        height: 100%;
        width: 20%;
        position: fixed;
        background: #4aa6b5;
          
    }

    .side-menu button {
        font-size: .98em;
        background: transparent;
        color: white;
        font-family: 'Ramabhadra',
        sans-serif;
        padding: .35em 1em;
        border: none;
    }

}

@media (min-width: 700px) {

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav button {
        padding: 0;
        background-color: black;
        width: 6em;
        padding: 0 0 .5em 0;
       
     }

    .site-nav button:hover,
    .site-nav button:focus {
        border-bottom: 1px solid #f9f9f9;
        background: transparent;
    }

    .site-nav--icon {
        display: none;
    }

}

@media (min-width: 900px) {
    .site-nav button {
        width: 6em;
         padding-top: 1.5em;
    }
}