.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
  
    padding: 1em 0;
    position: relative;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #66C4D9;


}



.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: none;
}

.nav-bar {
    float: right;
    width: 100%;
}

.nav-bar button {
   
    /* background-color: #2F5373; */
    background-color: black;
    padding: .5em .7em;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.site-nav button:hover, .site-nav button:focus {
    background: #E4B363;
    color: #Ee836f;
}

.nav-bar li {
    display: inline-block;

}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }
    .site-nav button {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav button:hover, .site-nav button:focus {
        background: transparent;
    }
    .site-nav--icon {
        display: none;
    }
}